body {
    background-color: #f5f5dd;
    background-size: cover;
}

#square1, #square2, #square3, #square4 {
    
    width:200px;
    height: 200px;
    margin: 20px auto 0;
    
  }

 #square1 {
    background-color:black; 
  }

#square2 {
    background-color:rgba(0, 0, 0, 0.645);
    }

#square3 {

    background-color:rgba(0, 0, 0, 0.515); 
  }

#square4 {
    background-color:rgba(0, 0, 0, 0.297);  
  }